<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBVc30uTOvCVUcUsJx1QA4v0bBWtuaTAnQ</string>
	<key>GCM_SENDER_ID</key>
	<string>626917610268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kiyascloud.housify</string>
	<key>PROJECT_ID</key>
	<string>housify-ujjxfr</string>
	<key>STORAGE_BUCKET</key>
	<string>housify-ujjxfr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626917610268:ios:67a346b259efa52e1b20d9</string>
</dict>
</plist>